<div class=display_message</div>
  <% all_messages = Message.all  %>

  <% all_messages.each do |message| %>
    <% if message.trip_id = @trip %>
      <p><%= message.message %></p>
      <p><%= message.user.name %></p>
      <p><%= link_to 'Edit', edit_message_path, message: @message, trip: @trip %></p>
      <p><%= link_to 'Delete', trip_message_display_path, message: @message, trip: @trip, method: :delete, data: {confirm: "Are you sure you want to delete this message?"} %></p>
    <% end %>
  <% end %>
