<div class=display_message</div>


  <% messages.each do |message| %>
    <% if message.trip_id = @trip %>
      <p><%= message.message %></p>
      <p><%= message.user.name %></p>
      <% end %>
  <% end %>
