<ul class="parkList">
  <% @parks.each do |r| %>
    <li class = 'parks'>
    <p> <%= link_to "#{r.name}", park_path(r.id) %> </p>
    <input type="hidden" name="attributes" value=" <%= r.attributes %>">
    <% end %>
  </li>
</ul>
