<section class="camponparks">

  <ul class="park-list">
    <% @parks.each do |r| %>
      <li class="parks">
      <br>
      <p class="park-link"> <%= link_to "#{r.name}", park_path(r.id) %> </p>
      <br>
      <% end %>
    </li>
  </ul>
</section>
