
<div class="header-img">
  <%= image_tag "header.png" %>
</div>
<br>
<br>
<br>
<br>

<div class="discription-container">
<h1 class="what-is-campon">What is Camp ON?</h1>
<br>
<br>

<h4 class="discription-question">Ever tried to plan a trip and it decend into chaos? Yeah...us too.</h4>
<br>
<br>

<p class="discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<br>
<br>


<div class="footer-img">
  <%= image_tag "mug-img.png" %>

  <a href="#" class="login-to-plan-trip"><font color= 'white'>Login to Plan a Trip!</font></a>
</div>

</div>
