<script src="https://use.fontawesome.com/5aa7fbc094.js"></script>

<div class="team-page">

    <div class="team-nadia">
      <%= image_tag "nadia.png" %>
      <p>Nadia is a part-time yoga instructor, full-time web developer.</p>
        <span class= "git-link-icons">
          <a href="https://github.com/nadiaivannova"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/nadia-villeda-27865613/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </span>
      </div>
    </div>

    <div class="team-mary">
      <%= image_tag "mary.png" %>
      <p>Mary is a code enthusiast, a voracious learner, and a bookworm.  She enjoys backcountry canoeing with her adorable pug mix.</p>
      <a href="http://maryfranks.me/">maryfranks.me</a><br>
        <span class= "git-link-icons">
          <a href="https://github.com/maryfranks"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/maryfranks/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </span>
    </div>

    <div class="team-abby">
      <%= image_tag "abby.png" %>
      <p>Abby is a Scottish code sponge.</p>
      <span class= "git-link-icons">
        <a href="https://github.com/abby-wilson"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/abby-wilson-1b015512b"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </span>
    </div>

    <div class="team-martine">
      <%= image_tag "martine.png" %>
      <p>Martine is a weaver of yarn, code, and bright ideas.</p>
        <span class= "git-link-icons">
          <a href="https://github.com/martinegagne"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/martinegagne"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </span>
    </div>

</div>
