
div.error {
  color: red;
  text-align: center;
  padding: 2px;
}

div.notice {
  color: red;
  text-align: center;
  padding: 2px;
}

div.signup-block > ul >li {

  color: red;
  text-align: center;
  margin: 2px;
}
div#error_explanation {
  color: red;
  text-align: center;
  padding: 2px;
}
