
.facilities-search {
  column-count: 4;
  column-width: 10%;
  float: right;
  position: relative;
  top: 86px;
  right: 38px;
  text-transform: capitalize

}

.activities-search {
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  top: 69px;
}

.container {
  display: block;
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: normal;
  padding-bottom: 5px;
}

.activity-title {
  text-decoration: underline;
  font-size: 25px;
}

.facility-title {
  text-decoration: underline;
  font-size: 25px;
  position: absolute;
  top: -17px;
}

.activities-search {
  margin-left: 56px
}

.instructions {
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 5px
  bottom: 35px;
}

.parks-img {
  background: url('index-banner.png') no-repeat;
  background-size: cover;

}

.box-filter {
  position: relative;
  top: -511px;
  font-size: 20px;
}

.activity-checkbox {
  padding: 2px
}

.camponparks {
  background-color: #4EBDD2;
  display: block;
  text-align: center;
  /*position: relative;*/
  top: -120px;
  width: 100%
}

.parkList {
  font-family: 'Cabin', sans-serif;
  margin: auto 0;
  display:inline;


  top: 20px;
  left: 170px;
}


.parks-title {
  color: black;
  font-family: 'Cabin', sans-serif;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  top: -150px;

}

.park-link a {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-style: solid;
  border-color: white;
  border-width: thin;
  font-size: 22px
}

.parks {
  display: inline-block;
  margin: 0 15px ;

}
