.login-background {
position: relative;
display: block;
max-width: 100%;
}

.login-background > img {
  position: relative  ;
  width: 100%;
}

.login-block {
  border-radius: 50px;
  width: 486px;
  position: absolute;
  top: 25%;
  margin: 0 9%;
  opacity: 0.5;
  background-color: white;
  margin-bottom: 3%;
  display: block;
  height: 483px;
}

.login-title {
  color: #2F4F4F;
  font-family: 'Cabin', sans-serif;
  font-size: 50px;
  padding: 3% 0;
  text-align: center;
  opacity: none;
  margin-bottom: 30px;
  margin-top: 30px;

}

.login-fields {
  text-align: right;
  margin-right: 20%;
}

.login-email-input, .login-password-input {
  color: #2F4F4F;
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
  padding: 2%;
  margin-bottom: 30px;
}

#email, #password {
  text-align: center;
  position: relative;
  display: inline-block;
  top: -7px;
  width: 40%;
  height: 32px;
  border: solid 3px #2F4F4F;
}

.login-rememberme-input {
  color: #2F4F4F;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  padding: 2%;
  margin-bottom: 30px;
}

#login-submit {
  padding: 2%;
  margin: 30px auto;
  display: block;
  margin-bottom: 30px;

  background-color: #2F4F4F;
  border-radius: 50px;
  border: none;
  color: WHITE;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#login-submit:hover {
  opacity: 0.8
}
