// Place all the styles related to the StaticPageshome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ************ Landing Page **************

#header-img > img {
  width: 100%
}
.body-container {
  max-width: 100%
}

.what-is-campon {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  color: #F78D2A;
  font-size: -webkit-xxx-large;
  margin-top: 40px;
}

.discription-question {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  color: grey;
  font-size: 30px;
  margin-top: 10px;
}

.discription {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  color: black;
  font-size: 30px;
  margin: 3% 5%;
  line-height: 40px
}

.landingpagefooter {
  position: absolute;
  clear: both;
}

#mug-img {
  position: relative;
  width: 33.3%;
  height: 320px;
}

#mug-img > img {
  position: relative;
  width: 100%;
  display: inline-block;
}

.parks-anchor {
  font-family: 'Cabin', sans-serif;
  position: absolute;
  text-align: center;
  top: 158px;
  width: 100%;
  color: white;
  font-size: 30px
}

#map-img {
  position: relative;
  width: 33.3%;
  max-height: 320px;
}

#map-img > img {
  position: relative;
  width: 100%;
  display: inline-block;
}

.map-anchor {
  font-family: 'Cabin', sans-serif;
  position: absolute;
  text-align: center;
  top: 158px;
  width: 100%;
  color: white;
  font-size: 30px
}

#stove-img {
  position: relative;
  width: 33.3%;
}

#stove-img > img {
  position: relative;
  width: 100%;
  display: inline-block;
}

.stove-anchor {
  font-family: 'Cabin', sans-serif;
  position: absolute;
  text-align: center;
  top: 158px;
  width: 100%;
  color: white;
  font-size: 30px
}

#mug-img, #map-img, #stove-img {
  float: left;
}

.links > a:link, .footer-list-item> a:link {
  text-decoration: none;
}
