.trip-info {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  background-image: image-url('marshmallow.png');
  width: 100%;
  height: 45px;
  padding: 10% 0;
  opacity: 0.9
}

.trip-planner-header {
  font-size: 60px;
  color: white;
}

#trip-planner-name-header {
  font-size: 40px;
  color: white;
  margin: 10px 0;
}

#park-name-header {
  font-size: 30px;
  color: white;
  margin: 10px 0;
}

.trip-edit-and-delete {
  font-size: 15px;
  margin-top: 10px;
}

.top-trips-container {
  position: relative;
  display: block;
  clear: both;
}

.trip-members {
background-color: orange;
width: 45%;
position: relative;
display: inline-block;
border-radius: 50px;
margin: 10px;
}

.precise-trip-info {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  background-color: #4EBDD2;
  width: 40%;
  height: auto;
  position: relative;
  padding: 3%;
  color: white;
  font-size: 30px;
  border-radius: 50px;
  margin: 10px;
  display: inline-block;
  float:left;
}

.trip-member-header {
  text-align: center;
  color: white;
  font-family: 'Cabin', sans-serif;
  margin: 3% 0;
  font-size: 20px;
}

.member-user-name {
  color: white;
  font-family: 'Cabin', sans-serif;
  margin: 3% 2%;
  text-align: center;
}

#invite-email {
  width: 40%;
  border-radius: 50px;
  height: 20px;
  margin: 10px
}

#trip-invite-name {
  width: 30%;
  border-radius: 50px;
  height: 20px;
  margin: 20px
}

#invite-friend-button {
  background-color: orange;
  border: solid 3px white;
  color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 50px;
  text-align: center;
  margin: 10px 180px;
}

.bottom-trips-container {
  position: relative;
  display: block;
  clear:both;
}

.trip-messages {
  font-family: 'Cabin', sans-serif;
  background-color: #4EBDD2;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 30px;
  display: inline-block;
  position: relative;
}

.trip-todo-list {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  color: white;
  background-color: orange;
  display: inline-block;
  position: relative;
  width: 100%;
}

.display_todos> a {
  font-size: 15px;
}

.trip-todo-header {
  text-align: center;
  color: white;
  font-family: 'Cabin', sans-serif;
  margin: 20px 0;
}

#todo_text {
  width: 30%;
  border-radius: 50px;
  height: 20px;
  margin: 10px;
  text-align: center;
  background-color: white;
  color: grey;
  font-size: 20px;
  border: solid 3px white;
}

.todo-delete > a{
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
  color: #2F4F4F;;
  font-size: 20px;
}

#todo_user_id, #todo_label {
  width: 20%;
  height: 30px;
  margin: 10;
  background-color: orange;
  color: white;
  border: solid 3px white;
  font-size: 12px;
  margin: 0 10px;
  display: inline-block;
  position: relative;
}

.display_massage {
  position: relative;
  display: block;
}

.trip-messages > h3 {
  text-align: center;
  color: white;
  font-family: 'Cabin', sans-serif;
  margin: 3% 0;
  font-size: 20px;
}

#trip-id {
 display:none;
}

#todo_text {
  width: 33%;
}

.todo-form > input {
  background-color: green;
  border: solid 3px white;
  color: white;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 50px;
  text-align: center;
  margin: 10px 180px;
}

.message_bubble {
  border-radius: 50px;
  background-color: white;
  padding: 15px;
  color: grey;
  width: 60%;
  display: inline-block;
  margin: 10px;
}

.trip-messages > h3 {
  font-size: 30px;
  margin: 20px;
}

.message-edit-and-delete > a {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
}

.message-edit-and-delete > a:link {
  color: #F78D2A;
  display: inline-block;
}

.message-edit-and-delete > a:visited {
  color: #F78D2A;
  display: inline-block;
}

.message_username {
  display: inline-block;
  color: #F78D2A;
}

#message_message {
  width: 30%;
  border-radius: 50px;
  height: 20px;
  margin: 10px;
  text-align: center;
  background-color: white;
  border: solid 3px white;
}
