// plan your trip

.trips-title {
  font-family: 'Cabin', sans-serif;
  position: relative;
  background-image: image-url('forest.png');
  text-align: center;
  height: 250px;
  width: 100%;
  padding-top: 50px;
  color: white;
  font-size: 50px;
}

  .trip-name {
      font-family: 'Cabin', sans-serif;
      text-align: center;
      font-size: 25px;
  }

  .trip-name-input {
      position: relative;
      text-align: center;
  }

  .pickapark {
      margin-top: 20px;
      font-family: 'Cabin', sans-serif;
      text-align: center;
      font-size: 25px;
  }

  .park-selection {
      position: relative;
      text-align: center;
  }






.mid-div {
  font-family: 'Cabin', sans-serif;
  position: relative;
  text-align: center;
  height: 250px;
  width: 100%;
  padding: 15px;
  color: white;
}

.trip-booked {
  font-family: 'Cabin', sans-serif;
  position: relative;
  background-color: #4EBDD2;
  text-align: center;
  height: 250px;
  width: 100%;
  padding: 15px;
  color: white;
}

//
// .choosestartdate {
//   margin-top: 150px;
//   font-family: 'Cabin', sans-serif;
//   text-align: center;
//   font-size: 50px;
//   margin-bottom: 10px
// }
//
// .trip-start-date {
//   text-align: center;
//   color: #4EBDD2;
// }
//
// .chooseenddate {
//   margin-top: 80px;
//   font-family: 'Cabin', sans-serif;
//   text-align: center;
//   font-size: 50px;
//   margin-bottom: 10px
// }
//
// .trip-end-date {
//   text-align: center;
// }

// .haveyoubooked {
//   margin-top: 80px;
//   font-family: 'Cabin', sans-serif;
//   text-align: center;
//   font-size: 50px;
//   margin-bottom: 10px
// }
//
// .reservationlink {
//   margin-top: 10px;
//   font-family: 'Cabin', sans-serif;
//   text-align: center;
//   font-size: 20px;
//   margin-bottom: 20px
// }
//
// #trip_booked {
//   border: 3px solid #555;
//   font-family: 'Cabin', sans-serif;
//   background-color: white;
//   width: 20px;
//   height: 20px;
//   display: block;
//   margin: 10px auto;
//   margin-top: 7px;
// }
//
// #trip-submit-button {
//   margin-top: 10px;
//   background-color: #4EBDD2;
//   border: solid 3px white;
//   color: white;
//   padding: 15px 32px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   font-family: 'Cabin', sans-serif;
//   border-radius: 50px
//
// }

// diffrent page

.parksnewheader{
  position: relative;
  width: 100%;
}

#trip_name {
  width: 15%;
  border: 3px solid white;
  height: 30px;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  text-align: center;
  border-radius: 50px;
}

#trip_park_id {
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  background-color: white;
  border: 3px solid white;
  width: 15%;
  height: 40px;
  border-radius: 50px;

}

#trip_start_date {
  width: 15%;
  border: 3px solid #4EBDD2;
  height: 40px;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #4EBDD2;
  text-align: center;
  border-radius: 50px
}

#trip_end_date {
  width: 15%;
  border: 3px solid #4EBDD2;
  height: 40px;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #4EBDD2;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 200px;
}

#trip_park_id {
  border: 3px solid white;
  width: 15%;
  height: 40px;
  border-radius: 50px;
}
