
.sign-up-background {
  position: relative;
  display: block;
  width: 100%;
  height: 900px;
  background-image: image-url("tent-door.png");
  background-size: auto;
}

.signup-block {
  border-radius: 50px;
  width: 500px;
  position: absolute;
  height: auto;
  top: 17%;
  margin: 0 9%;
  opacity: 0.5;
  background-color: white;
}

.signup-title {
  color: #2F4F4F;
  font-family: 'Cabin', sans-serif;
  font-size: 50px;
  padding: 3% 0;
  text-align: center;
  opacity: none;
  margin-bottom: 30px;
  margin-top: 30px;

}


.signup-fields {
  text-align: right;
  /*margin-right: 20%;*/
  overflow: hidden;
  margin: 20px 30px;
}

.field  > label {
  color: #2F4F4F;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  padding: 2%;
  /*margin-bottom: 30px;*/

}

#user_name, #user_email, #user_password, #user_password_confirmation {
  text-align: center;
  position: relative;
  display: inline-block;
  top: 2px;
  width: 50%;
  height: 32px;
  border: solid 3px #2F4F4F;
  border-radius: 40px;
  font-size: 15px;
  margin-bottom: 22px;
}

#signup-submit {
  padding: 2%;
  margin: 30px auto;
  display: block;
  margin-bottom: 30px;
  background-color: #2F4F4F;
  border-radius: 50px;
  border: none;
  color: WHITE;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#login-submit:hover {
  opacity: 0.8
}

.login-redirect {
  color: black;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
