
.sign-up-background {
  position: relative;
  display: block;
  width: 100%;
  height: 900px;
  background-image: url("tent-door.png");
  background-size: auto;
}

.signup-block {
  border-radius: 50px;
  width: 500px;
  position: absolute;
  height: auto;
  top: 17%;
  margin: 0 9%;
  opacity: 0.5;
  background-color: white;
}

.signup-title {
  color: #2F4F4F;
  font-family: 'Cabin', sans-serif;
  font-size: 50px;
  padding: 3% 0;
  text-align: center;
  opacity: none;
  margin-bottom: 30px;
  margin-top: 30px;

}


.signup-fields {
  text-align: right;
  margin-right: 20%;
  overflow: hidden;
}

.field {
  color: #2F4F4F;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  padding: 2%;
  margin-bottom: 30px;
}

#user_name, #user_email, #user_password, #user_password_confirmation {
  text-align: center;
  position: relative;
  display: inline-block;
  top: -7px;
  width: 50%;
  height: 32px;
  border: solid 3px #2F4F4F;
  border-radius: 40px;
  font-size: 15px;
}

#signup-submit {
  padding: 2%;
  margin: 30px auto;
  display: block;
  margin-bottom: 30px;
  background-color: #2F4F4F;
  border-radius: 50px;
  border: none;
  color: WHITE;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#login-submit:hover {
  opacity: 0.8
}

.login-redirect {
  color: black;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.user-greeting {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 60px;
  margin: 100px 0;
}

.trip_list {
  background-color: #4EBDD2;
  margin: 20px auto;
  width: 80%;
  padding: 3% 0;
  font-family: 'Cabin', sans-serif;
  color: white;
  text-align: center;
  font-size: 40px;
  border-radius: 90px;
  position: relative;

}

.trip_list-block {
  position: absolute;
  display: inline;
  width: 80%;
  top: 10px
}

.trip_list > img {
  position: relative;
  display: inline-block;
  right: 42%;

}

.trip-list-block > a {
  text-decoration: none;
  color: grey;
}

.trip-list-block > a:hover {
  opacity: 0.7
}

.up-coming-trips {
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  left: 13%;
  top: 40%;
  position: absolute;

}
